h1 {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 34px;
    font-family: arial;
    
  }
  
  h3 {
    text-decoration: underline;
  }
  h4 {
    text-align: center;
  }
  li {
    
  }